#todo{
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(191, 191, 191, 0.5);
    margin: 65px 30px 170px;
}

@media (min-width: 1400px) {
    #cont{
        display:flex;
        justify-content: center;
        font-size: 25px;
    }
    h2{
        display: flex;
        justify-content: center;
    }
    #todo{
        padding: 3px 10px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(191, 191, 191, 0.5);
        margin: 65px 30px 20px;
    }


}