#body{
    background-image: url('../foto/background-2462430_1920.jpg');
}
#footer {
    width: 100%;
    height: 150px;
    background-color: #e8e8e8;
    position: fixed;
    bottom: 0;
    z-index: 9;
}
#footer a{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}


#titulo {
    display: flex;
    justify-content: center;
    color:#1f0073;
}
@media (min-width: 1400px) {
    #body{
        background-image: url('../foto/background-2462430_1920.jpg');
    }
    #footer {
        width: 100%;
        height: 55px;
        background-color: #e8e8e8;
        position: fixed;
        bottom: 0;
        z-index: 9;
    }
    #footer a{
        color: black;
        font-size: 18px;
        font-weight: bold;
    }


    .link {
        padding-left: 500px;
        padding-right: 200px;
        padding-top: 18px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        font-family: monospace;
    }
    #titulo {
        padding-right: 50px;
        float: right;
        color:#1f0073;
    }
}