
#buscador a {
    padding: 3%;
    margin-top: 50px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

#buscador {
    position: fixed;
    top: 0;
    background-color: aliceblue;
    z-index: 10;
    width: 100%;

}
.productos {

    margin-top: 100px;
    margin-bottom: 50px;
    padding: 20px;
    z-index: 8;
}


.categoria {
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(191, 191, 191, 0.5);
    margin-bottom: 100px;
    margin-left: 30px;
}


@media (min-width: 1400px) {
    h2 {
        display: flex;
        justify-content: space-around;
        padding-bottom: 25px;
        padding-top: 25px;
        text-decoration: underline black;
        color: black;
    }

    .card-img-top {
        height: 60%;
    }

    .card {
        height: 95%;
        width: 95%;
    }


    #buscador {
        height: 100%;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: aliceblue;
        padding-top: 10px;
        z-index: 10;

    }

    #buscador a:hover {
        background: #bfbfbf;
        color: black;
    }

    #buscador a {
        padding: 6px 8px 6px 16px;
        margin-top: 50px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
    }

    .productos {
        margin-left: 325px;
        margin-bottom: 50px;
        padding: 20px;
        z-index: 8;
    }

    .productos h2 {
        margin-right: 9%;
    }

    .categoria {
        padding: 3px 10px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(191, 191, 191, 0.5);
        margin-bottom: 20px;
        margin-left: 30px;
    }

}
