#body {
    margin-bottom: 170px;
    margin-right: 23px;
    margin-top: 20px;

}

#description {
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: rgba(191, 191, 191, 0.5);
}

#info {
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(191, 191, 191, 0.5);
    margin-bottom: 20px;
    margin-left: 30px;
}

#seguir {
    padding: 3px 10px;
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(191, 191, 191, 0.5);
    margin-bottom: 20px;
    margin-left: 30px;
}

#grid {
    border: PowderBlue 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(191, 191, 191, 0.5);
    margin-bottom: 20px;
    margin-left: 30px;
    display: grid;
    grid-template-areas: 'funda' 'funda1' 'funda2' 'lugar' 'mapafoto';
    padding: 3px 10px 10px 10%;
}
#funda {
    grid-area: funda;

}
#funda1 {
    grid-area: funda1;

}
#funda2 {
    grid-area: funda2;

}
#lugar{
    grid-area: lugar;
}
#mapafoto{
    grid-area: mapafoto;
}
#fotomapa{
    width: 90%;
    height: 90%;
}

#copiri{
    width: 75%;
    height: 75%;
}

@media (max-width: 800px) {
    .foto{
        width: 30%;
        height: 30%;
    }
    #fotomapa{
        width: 50%;
        height: 50%;
    }
    #grid{
        padding-left: 10%;
    }
}
@media (min-width: 1024px) {

    #grid {
        padding: 3px 10px 80px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(191, 191, 191, 0.5);
        margin-bottom: 20px;
        margin-left: 30px;
        display: grid;
        grid-template-columns: 250px 60px 600px;
        grid-template-rows: 50px 400px 250px;
        grid-template-areas: 'funda . lugar' 'funda1 . mapafoto' 'funda2 . mapafoto';

    }

}
@media (min-width: 1400px) {

    #grid {
        padding: 3px 10px 80px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(191, 191, 191, 0.5);
        margin-bottom: 20px;
        margin-left: 30px;
        display: grid;
        grid-template-columns: 250px 20px 250px 150px 600px;
        grid-template-rows: 50px 260px;
        grid-template-areas: 'funda funda funda .  lugar' 'funda1 . funda2 .  mapafoto';
    }

#fotomapa{
    width: 75%;
    height: 75%;
}
.foto{
    width: 255px;
    height: 255px;
}




    #mapa {
        padding-left: 100px;
    }

    #body {
        margin-top: 50px;
        margin-bottom: 100px;
        margin-right: 50px;
    }

    #description {
        padding: 3px 10px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
        background-color: rgba(191, 191, 191, 0.5);
    }

    #info {
        padding: 3px 10px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(191, 191, 191, 0.5);
        margin-bottom: 20px;
        margin-left: 30px;
    }

    #seguir {
        padding: 3px 10px;
        border: PowderBlue 5px double;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: rgba(191, 191, 191, 0.5);
        margin-bottom: 20px;
        margin-left: 30px;
    }

    h2 {
        text-decoration: underline black;
    }

    .pagi {
        list-style-type: none;
        display: inline;
    }

    p {
        font-weight: bold;
    }

    #seguir li {
        font-weight: bold;
    }
    #copiri{
        width: 20%;
        height: 20%;
    }
}