
#grid {
    background-color: #e8e8e8;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 'foto1 foto2 foto3 foto4' 'info info caract caract';
}
#body {
    margin: 25px;
}
#foto1 {
    padding: 5px;
    grid-area: foto1;
}

#foto2 {
    padding: 5px;
    grid-area: foto2;
}

#foto3 {
    padding: 5px;
    grid-area: foto3;
}

#foto4 {
    padding: 5px;
    grid-area: foto4;
}
#grid img{
    width: 100%;
    height: 100%;
}
#info {
    grid-area: info;
    padding: 20px;
}

#caract {
    padding: 20px;
    grid-area: caract;
}
#boton {
    float: right;
}

#patras {
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 10;
}
@media (max-width: 768px) {
    #grid {
        background-color: #e8e8e8;

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'foto1 foto2' 'foto3 foto4' 'info info' 'caract caract';
    }
}

@media (max-width: 375px) {

    #grid {
        background-color: #e8e8e8;
        margin: 25px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 'foto1' 'foto2' 'foto3' 'foto4' 'info' 'info' 'caract' 'caract';
    }

}
@media (min-width: 1400px) {

    #grid {
        background-color: #e8e8e8;

        display: grid;
        grid-template-columns: 260px 260px ;
        grid-template-rows: 260px 260px;
        grid-template-areas: 'foto1 foto2 info' 'foto3 foto4 caract';
    }


    #grid img{
        width: 100%;
        height: 100%;
    }
    #info {
        grid-area: info;
        padding: 20px;
    }

    #caract {
        padding: 20px;
        grid-area: caract;
    }




    .card {
        height: 90%;
        width: 70%;
    }

    .card-img-top {
        height: 60%;
    }

    #body {
        margin: 50px;
    }


}

